<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="pubnubListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="pubnub-messaging.log"/>
        <remove name="Default" />
      </listeners>
    </trace>
    <switches>
      <add name="PubnubTraceSwitch" value="3" />
    </switches>
  </system.diagnostics>
</configuration>