<!doctype html>
<html lang="en">
	<head>
		<title>StackHack</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <div
      id=pubnub
      pub-key=pub-7dbb570c-16fa-4bb7-8478-b632bb510472
      sub-key=sub-c9ce8494-d8b6-11e0-9367-bbbbf064f5b3
      ssl=off
      origin=pubsub.pubnub.com
    ></div>
    <script src=http://cdn.pubnub.com/pubnub-3.1.min.js></script>

    {{if debug}}
      <link href="/media/css/style.css" type="text/css" rel="stylesheet" media="screen" />

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="/media/js/jquery-1.7.1.min.js"><\/script>')</script>

      <script src="/media/js/jquery-ui-1.8.18.custom.min.js"></script>
      <link href="/media/css/custom-theme/jquery-ui-1.8.18.custom.css" type="text/css" rel="stylesheet" media="screen" />
    {{else}}
      <link href="http://pubnub.s3.amazonaws.com/media/css/style.css" type="text/css" rel="stylesheet" media="screen" />

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="http://pubnub.s3.amazonaws.com/media/js/jquery-1.7.1.min.js"><\/script>')</script>

      <script src="http://pubnub.s3.amazonaws.com/media/js/jquery-ui-1.8.18.custom.min.js"></script>
      <link href="http://pubnub.s3.amazonaws.com/media/css/custom-theme/jquery-ui-1.8.18.custom.css" type="text/css" rel="stylesheet" media="screen" />
    {{/if}}

    <script>
      var muted = {}; 
      $(document).data("uuid", "${uuid}");
      {{if debug}}
        var channel = "stackhack_debug";
      {{else}}
        var channel = "stackhack_public";
      {{/if}}

      PUBNUB.subscribe({
        channel  : channel,
        callback : function(message) { 
          if ((muted[message.client] != undefined) && ((message.name =="create") || (message.name == "remove"))) {
            {{if debug}}
              console.log("Ignoring: got_message_" + message.name + ": " + JSON.stringify(message));
            {{/if}}
            return;
          }
          {{if debug}}
            console.log("got_message_" + message.name + ": " + JSON.stringify(message));
          {{/if}}
          PUBNUB.events.fire("got_message_" + message.name, message);
          flash_subscribe();
        },
        error    : function(e) {
          console.log(e);
        }
      });

      PUBNUB.events.bind('send_message', function(message) {
        message.client = "${uuid}";     
        {{if debug}}
          console.log("send_message_" + message.name + ": " + JSON.stringify(message));
        {{/if}}
        PUBNUB.publish({
          channel  : channel,
          message  : message,
          error    : function(e) {
            console.log(e);
          },
          callback : flash_publish 
        });
      });

      PUBNUB.subscribe({
        channel  : "stackhack_${uuid}",
        callback : function(message) { 
          {{if debug}}
            console.log("got_from_server_message_" + message.name + ": " + JSON.stringify(message));
          {{/if}} 
          PUBNUB.events.fire("got_from_server_message_" + message.name, message);
        },
        error    : function(e) {
          console.log(e);
        }
      });

      PUBNUB.events.bind('got_from_server_message_mute_client', function(message) {
        muted[message.data.muted_player] = message.data.muted_player;
      });

      PUBNUB.events.bind("got_from_server_message_status", function(message) {
        for (var i = 0; i < message.data.muted.length; i++) {
          var muted_player = message.data.muted[i];
          muted[muted_player] = muted_player;
        } 
      });

      $(document).data("initial_blocks", []);
      {{each block_array}}
        $(document).data("initial_blocks").push( 
        { 'x': ${$value.x},
          'y': ${$value.y},
          'z': ${$value.z},
          'c': ${$value.color} });
      {{/each}}

      $(document).data("time_til_wipe", ${time_til_wipe});

      function flash_publish() {
        console.log('fp');
        if ($(document).data('notifications') == true) {
          $('#publish').show('fast');
          setTimeout( function() {
            $('#publish').hide('fast');
          }, 500);
        }
      }

      function flash_subscribe() {
        console.log('fs');
        if ($(document).data('notifications') == true) {
          $('#subscribe').show('fast');
          setTimeout( function() {
            $('#subscribe').hide('fast');
          }, 500);
        }
      }


    </script>

	</head>
	<body>
    <div id="banner">
      <h1>StackHack</h1>
      <p>powered by</p>
      <a href="http://www.pubnub.com"><img src="http://cdn.pubnub.com/media/img/pubnub.png" /></a><br/>     
      <a href="http://www.pubnub.com/blog/stackhack-revisited">What I learned making this</a><br/><br/>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://stackhack.com" data-text="Check out this multiplayer block game" data-via="PubNub">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    {{html body}}
    {{if !debug}}
    <script>
      var _gaq=[['_setAccount','UA-16927549-2'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    {{/if}}

  <div id='publish'> &nbsp;Published ⇀ &nbsp;</div>
  <div id='subscribe'> &nbsp;↼ Received &nbsp;</div>
  <div id="demo_info" style= "bottom: 0px; left: 0px; position: fixed; margin-top: 0px; margin-left: 10px; margin-right: 10px; margin-bottom: 0px;  display: block; cursor: pointer;">
    <div id="demo_info_button">+</div>
    <div id="demo_info_expand" style="display: none">
      <ol>
        <li>this game made with three.js, a framework for making 3D graphics with JavaScript   </li>
        <li>made massively-muliplayer with pubnub - there are no game rooms or lobbies.  everyone sees the same thing, world-wide </li>
        <li>it has a central server but it doesn't act as a central node</li>
        <li>the server only interferes if a client begins acting up</li>
        <li>completely open-source, <a href="https://github.com/pubnub/pubnub-api/tree/master/games/stackhack">here</a></li>
      </ol>
    </div>
  </div>
  <div id="notifications" style= "bottom: 0px; right: 0px; position: fixed; margin-top: 0px; margin-left: 10px; margin-right: 10px; margin-bottom: 0px;  display: block;">
    <div id="notifications_button" style="cursor: pointer;">⇄</div>
  </div>
  <script type="text/javascript">
    function toggleDemoInfo(e) {
      e.preventDefault();
      $("#demo_info_expand").toggle();  
    }
    // initially seed at false
    $(document).data('notifications', false);

    function toggleNotifications(e) {
      e.preventDefault();
      if ($(document).data('notifications') == true) {
        $(document).data('notifications', false);
        $("#notifications_button").css('color', 'black'); 
      }
      else {
        $(document).data('notifications', true);
        $("#notifications_button").css('color', 'red'); 
      }
    }

    $("#demo_info_button").click( toggleDemoInfo ); 
    $("#notifications_button").click( toggleNotifications ); 

    $("#demo_info_button").touchUp( toggleDemoInfo ); 
    $("#notifications_button").touchUp( toggleNotifications ); 
    
  </script>
	</body>
</html>

