<!doctype html>
<html lang="en">
	<head>
		<title>StackHack</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="http://cdn.pubnub.com/media/css/style.css" type="text/css" rel="stylesheet" media="screen" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/media/js/jquery-1.7.1.min.js"><\/script>')</script>


	</head>
	<body>
    <div id="banner">
      <h1>StackHack</h1>
      <p>powered by</p>
      <img src="http://cdn.pubnub.com/media/img/pubnub.png" />      
    </div>
    <div id="non_webgl_container">
      <h1>Sorry bro.</h1>
      <h3>Your browser isn't cool enough for this WebGL stuff. </h3>  
      <p><a href="http://www.google.com/chrome">Chrome</a></p>
      <p><a href="http://www.mozilla.org/en-US/firefox">Firefox</a></p>
      <p><a href="http://www.apple.com/safari">Safari</a></p>
    </div>
	</body>
</html>

