.settings
*~
*.swp
*.pyc
*.class
*.iml
/flash/*/out
/android/PubnubAndroidTest/*/gen
/android/PubnubAndroidTest/*/bin
/android/PubnubAndroidTest/*/out
.DS_Store
node_modules
.idea*
/csharp/*/PubNub-Messaging*/bin/*
/csharp/*/PubNub-Messaging*/obj/*
