.settings
*~
*.swp
*.pyc
*.class
*.iml
/flash/*/out
/android/*/*/gen
/android/*/*/bin
/android/*/*/out
.DS_Store
node_modules
.idea*
/csharp/*/PubNub-Messaging*/bin/*
/csharp/*/PubNub-Messaging*/obj/*
/csharp/*/*.suo
/j2me/3.3/nbproject
/flash/3.3.1beta/obj/*.old
/flash/3.3.1beta/obj/PubNubTestConfig.xml
/silverlight-part/*/Debug/*
/silverlight-part/*/obj/*
/windows-phone-7/*/packages/*
/windows-phone-7/*/packages.config
/windows-phone-7/*/*/bin/*
/windows-phone-7/*/*/obj/*
/windows-phone-7/*/*.suo
