.settings
*~
*.swp
*.pyc
*.class
*.iml
/android/PubnubAndroidTest/*/gen
/android/PubnubAndroidTest/*/bin
/android/PubnubAndroidTest/*/out
.DS_Store
node_modules
.idea*
/csharp/3.2/PubNub-Messaging*/bin/*
/csharp/3.2/PubNub-Messaging*/obj/*
