<?xml version="1.0"?>
<configuration>
	<appSettings>
        <add key="PubnubMessaging.LogLevel" value="3"/>
	</appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="pubnubListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="pubnub-messaging.log"/>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="30" />
    </connectionManagement>
  </system.net>
</configuration>