::-moz-selection { background-color: rgba(0,0,0,0); }
::selection { background-color: rgba(0,0,0,0); }

body {
    font-family: "Open Sans";
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* STAGES OF CONNECTIVITY */
#stages, #stages-shine {
    position: absolute;
    top: 250px;
    left: 20px;
    width: 280px;
    height: 50px;

    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background: #eeeee3;
}
#stages-shine {
    height: 25px;
    opacity: 0.7;
    background: #fff;
}

.indicator {
    display: inline-block;
    width: 20px;
    height: 20px;

    margin: 15px 0 0 50px;

    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    -ms-transition: background 0.6s;
    -o-transition: background 0.6s;
    transition: background 0.6s;

    background-color: #f00;

    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    border-radius: 99px;
}

/* BUTTON LIGHT INDICATOR ON BUTTON PRESS */
#button-light {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 260px;
    height: 70px;

    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background: #fffffd;

    color: #fffffd;

    font-size: 20px;
    text-align: center;
    line-height: 70px;
}


/* VERY NICE BUTTON */
#button {
    position: absolute;
    top: 130px;
    left: 60px;
    width: 200px;
    height: 100px;

    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

    cursor: pointer;

    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;

    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
}
#button:hover {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
}
#button:focus {
    outline: 1px dotted #666;
}
#button-light, #stages, .indicator, #button:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

