body{overflow:hidden;height:100%;-webkit-user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:none;background-color:#333;margin:0;padding:0}

#screen{position:absolute;width:320px;height:480px;overflow:hidden;margin-top:-240px;margin-left:-160px;top:50%;left:50%;background:#fff;cursor:crosshair}

#painter{width:320px;height:480px;position:relative;overflow:hidden}
