body {
    background: #fff;
    padding: 0;
    border: 0;
    margin: 0;
}
#main {
    margin: 0;
    border: 0;
    padding: 0;

    position: relative;
    overflow: hidden;

    width: 1024px;
    height: 768px;

    background: red url(rally-bg.jpg) no-repeat;

    color: #ffe;
    font-size: 15px;
    font-family: "Open Sans";
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.circle-header, .circle-header-icon {
    position: absolute;
    overflow: hidden;
    top: 16px;
    left: 22px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100px;
    background: #f2f;
    width: 31px;
    height: 31px;
}

.circle-header-one   { background: #f0f }
.circle-header-two   { background: #f90 }
.circle-header-three { background: #0ff }

.circle-header-icon       { }
.circle-header-icon-one   {
    background: transparent url(flag-icon.png) no-repeat 6px 6px
}
.circle-header-icon-two   {
    background: transparent url(users-icon.png) no-repeat 5px 5px
}
.circle-header-icon-three {     
    background: transparent url(chat-icon.png) no-repeat 6px 6px
}

.circle-header-text {
    position: absolute;
    top: 23px;
    left: 66px;
    letter-spacing: -1px;
    font-size: 20px;
    font-family: "Source Sans Pro";
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

}
.section {
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 347px;
    height: 406px;
}
.section-one {
    
}
.section-two {
    top: 407px;
    width: 347px;
    height: 360px;
}
.section-three {
    left: 347px;
    width: 677px;
    height: 768px;
}
.time {
    position: absolute;
    top: 52px;
    left: 70px;
    font-size: 90px;
    font-family: "Source Sans Pro";
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.time sup { font-size: 37px }
.time-line {
    position: absolute;
    top: 166px;
    left: 22px;
    font-size: 0px;
    line-height: 0px;
    height: 3px;
    background: rgba(255,255,255,0.4);
    width: 300px;
}

.update-area {
    position: absolute;
    top: 180px;
    left: 22px;
}
.update-item {
    margin: 10px 0;
    font-size: 14px;
}
.update-time {
    display: inline-block;
    width: 100px;
    font-weight: 700;
    font-size: 16px;
}
.update-time sup {
    font-size: 11px;
}
.update-line {
    font-size: 0px;
    line-height: 0px;
    height: 1px;
    background: rgba(255,255,255,0.3);
    width: 300px;
    margin: 10px 0;
}

.relative {
    position: relative;
}


