---
http_interactions:
- request:
    method: get
    uri: https://pubsub.pubnub.com/subscribe/demo/hello_world-pnpres/0/13456942772413940
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
      Pn-Ssl:
      - ssl
    body:
      encoding: US-ASCII
      string: ! '[[{"action": "join", "timestamp": 1345720165, "uuid": "1975", "occupancy":
        3}],"13456949659872604"]'
  recorded_at: Thu, 23 Aug 2012 04:09:56 GMT
recorded_with: VCR 2.2.4
