<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="OverrideTcpKeepAlive" value="false"/>
    <add key="LogLevel" value="3"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="pubnubListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="pubnub-messaging.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
