body { background: #efebdc; }
table { width: 100%; }
body, div, img {
    padding: 0;
    margin: 0;
    border; 0;
}
#performance {
    position: relative;
    width: 640px;
    height: 640px;
    overflow: hidden;
}

#performance-meter {
    position: absolute;
    top: -11px;
    left: 0px;
    width: 640px;
    height: 640px;
    background: transparent url(./performance-meter.png) no-repeat 0px 0px;
}
#performance-meter-bezel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 640px;
    height: 640px;
    background: transparent url(./performance-meter.png) no-repeat -1280px 0px;
}

#performance-arrow {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 640px;
    height: 900px;
    background: transparent url(./performance-meter.png) no-repeat -640px 0px;
}

#performance-meter-number {
    position: absolute;
    top: 330px;
    left: 0px;
    width: 640px;

    color: #474332;
    text-shadow: 0px 1px 20px rgba(0,0,0,0.5);
    text-align: center;
    font-family: Exo;
    font-size: 100px;
    font-weight: 100;
}
#performance-meter-rps {
    position: absolute;
    top: 450px;
    left: 0px;
    width: 640px;

    color: #615c49;
    opacity: 0.8;
    text-shadow: 0px 1px 2px #fff;
    text-align: center;
    font-family: Exo;
    font-size: 95px;
    font-weight: 800;
}
.performance-title {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 640px;
    color: #615c57;
    text-shadow: 0px 1px 2px #fff;
    text-align: center;
    font-family: Exo;
    font-size: 22px;
    font-weight: 800;
    border-radius: 3px;
}
#performance-medians {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 640px;
    color: #615c57;
    text-shadow: 0px 1px 2px #fff;
    text-align: center;
    font-family: Exo;
    font-size: 22px;
    font-weight: 100;
    border-radius: 3px;
    background: #ebe7d5;
}
.strong {
    font-family: Exo;
    font-weight: 800;
}
.fastest {
    background: #cfc5a1;
}
.slowest {
    background: #cfc5a1;
}
#performance-sent {
    position: absolute;
    top: 6px;
    left: 0px;

    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 640px;
    color: #615c57;
    background: rgba(255,255,255,0.2);
    text-shadow: 0px 1px 5px rgba(0,0,0,0.4);
    text-align: center;
    font-family: Exo;
    font-size: 22px;
    font-weight: 100;
}

#performance-graph {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 640px;
    height: 50px;
}

