<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="OverrideTcpKeepAlive" value="false"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="pubnubListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="pubnub-messaging.log"/>
        <remove name="Default" />
      </listeners>
    </trace>
    <switches>
      <add name="PubnubTraceSwitch" value="1" />
    </switches>
  </system.diagnostics>
</configuration>
