html, body, div, span {
    cursor: default;
}
.mouse-letter,
.mouse-letter-speedy,
.mouse-speak {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    text-shadow: 0 0 0 #dd0202;

    color: #dddddd;
    color: rgba(220,220,220,0.9);
    color: transparent;
}

.mouse-letter-speedy,
.mouse-letter {
    float: right;
    display: inline-block;
    text-shadow: 0 0 25px #ed0;
    color: #e45;
    color: rgba(0,0,0,0);
}
.mouse-letter {
    -webkit-transform: rotate(60deg) scale(4.0) translateX(10px);
    -moz-transform: rotate(60deg) scale(4.0) translateX(10px);
    -ms-transform: rotate(60deg) scale(4.0) translateX(10px);
    -o-transform: rotate(60deg) scale(4.0) translateX(10px);
    transform: rotate(60deg) scale(4.0) translateX(10px);

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.mouse-speak {
    background-color: #dddddd;
    background-color: rgba(220,220,220,0.9);

    padding-right: 6px;

    overflow: hidden;

    -webkit-box-shadow: 3px 3px 1px rgba(150,150,150,0.1);
    -moz-box-shadow: 3px 3px 1px rgba(150,150,150,0.1);
    -ms-box-shadow: 3px 3px 1px rgba(150,150,150,0.1);
    -o-box-shadow: 3px 3px 1px rgba(150,150,150,0.1);
    box-shadow: 3px 3px 1px rgba(150,150,150,0.1);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
    

/*
    fontWeight : bold,
    padding    : 5px 0 0 20px,
    fontSize   : 15px,
    textShadow : rgba(0,0,0,0.9) 1px 1px 2px,
    // box-shadow : 1px 1px 5px rgba(0,0,0,0.5),
    // border-radius : 5px,
    // -moz-box-shadow : 1px 1px 5px rgba(0,0,0,0.5),
    // -moz-border-radius : 5px,
    -webkit-box-shadow : 1px 1px 5px rgba(0,0,0,0.5),
    -webkit-border-radius : 5px,
    opacity    : 0.0,
    backgroundColor : rgba(255,255,255,0.6),
    color      : #+(message[uuid]||000000).slice(-6)//#000
*/
