body {
    padding: 0;
    margin: 0;
    background: #eeeee2;
}
.roundy {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: inset 2px 2px 9px 0px #fff;
    -moz-box-shadow: inset 2px 2px 9px 0px #fff;
    -ms-box-shadow: inset 2px 2px 9px 0px #fff;
    -o-box-shadow: inset 2px 2px 9px 0px #fff;
    box-shadow: inset 2px 2px 9px 0px #fff;
}
#bubble_text {
    font-size: 24px;
    width: 200px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    background: #eee;
}
#place {
    width: 74px;
    height: 54px;
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
    background: #058cf5;
    color: #fffff8;
}
#main_canvas {
    border: 0;
    width: 300px;
    height: 400px;
    padding: 0;
    margin: 0;
    background: #fff;
}
