body {
    background: #fff;
    border: 0;
    padding: 0;
}


#main {
    border: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    /*margin: 0 auto;*/
    width: 1024px;
    height: 768px;
    background: red url(rally-bg.jpg) no-repeat;
    color: #ffe;
}

.circle-header {
    position: absolute;
    top: 16px;
    left: 12px;
    border-radius: 100px;
    background: #f2f;
    width: 30px;
    height: 30px;
}

