<div class="content">
<style>
#out {
    float: left;
    overflow: scroll;
    overflow-x: hidden;
    width: 440px;
    background: #111;
    color: #eee;
    font-size: 12px;
    font-family: m, mono;
    line-height: 14px;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.out-copy {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 7px;
    line-height: 10px;
    margin: 10px;
    padding: 10px;
    height: 380px;
    width: 355px;
    overflow: hidden;
    border: 0;
}
#out, #channels-tests, #commands {
    margin: 10px;
    padding: 10px;
    height: 440px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
#channels-tests {
    float: left;
    background: #ddd;
    color: #444;
}
input {
    width: 300px;
}

button {
    cursor: pointer;
    float: left;
    width: 200px;
    height: 40px;
    margin: 10px;
}
.clear {
    clear: both;
}
#stop {
    font-size: 20px;
    color: red;
    font-family: b;
}
#send-message-subscription {
    white-space: nowrap;
    overflow: hidden;
    width: 400px;
    /*height: 24px;*/
    background: #111;
    color: #eee;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
#message {
    width: 310px;
    height: 80px;
    padding: 4px;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
}
</style>

<h1>Dev Console</h1>

<div id=channels-tests>
    <table>
    <tr><td>origin</td> <td><input id=origin value=pubsub.pubnub.com /></td></tr>
    {% if customer %}
        <tr><td>pub-key</td> <td><input id=pub-key value={{customer.publish_key}} /></td></tr>
        <tr><td>sub-key</td> <td><input id=sub-key value={{customer.subscribe_key}} /></td></tr>
    {% else %}
        <tr><td>pub-key</td> <td><input id=pub-key value=demo /></td></tr>
        <tr><td>sub-key</td> <td><input id=sub-key value=demo /></td></tr>
    {% endif %}
    <tr><td>channel</td> <td><input id=channel value='my_channel' /></td></tr>
    </table>
    <button id=send-message-sub>Subscribe</button>
    <button id=send-message-unsub disabled>UnSubscribe</button>
    <div class=clear></div>
    <div id=send-message-subscription>
        <span style=color:#f00>NOT CONNECTED</span>
        click "Subscribe" button
    </div>
    <div class=clear></div>

    <input type="radio" id="literal" name="render" value="literal" checked>
      Display message text literally
    <br>
    <input type="radio" id="asHtml" name="render" value="asHtml">
      Render message text as HTML
    <br>
    <div class=clear></div>

    <table>
    <tr><td>JSON Message</td> <td><textarea id=message >{
    "text" : "hey"
}</textarea></td></tr>
    </table>

    <button id=send-message disabled>Send Message</button>
    <div class=clear></div>
</div>


<div id=out style=position:relative></div>

<div class=clear></div>

<div 
id=pubnub
{% if customer %}
    pub-key={{customer.publish_key}}
    sub-key={{customer.subscribe_key}}
{% else %}
    pub-key=demo
    sub-key=demo
{% endif %}
></div>
<script src=/static/jquery-1.5.min.js></script>
<script src=https://pubnub.s3.amazonaws.com/pubnub-3.1.js></script>
<script>(function(){

var p        = PUBNUB
,   paused   = false
,   out      = p.$('out')
,   running  = false;

function log( msg, color ) {
    if (paused) return;

    var color = color || '';

    // Convert the message into JSON text
    var msgText = JSON.stringify(msg);

    // Were we requested to convert tags to literal (displayable) text?
    if (document.getElementById("literal").checked) {
      // Yup. Arrange for HTML entities and tags not to be treated as such.
      msgText = msgText.replace(/\&/g, "&amp;").replace(/</g, "&lt;");
    }
    out.innerHTML = ((log.l++)+'000').slice(0,4) +
                    ": " +
                    '<span style=color:'+color+'>' +
                    msgText +
                    '</span>' +
                    "<br/>" +
                    out.innerHTML;
} log.l = 1;


(function(){
    var channel      = p.$('channel')
    ,   message      = p.$('message')
    ,   subscription = p.$('send-message-subscription')
    ,   connect_btn  = p.$('send-message-sub')
    ,   net;

    function connect_now() {
        var chan = channel.value;

        subscription.innerHTML =
            '<span style=color:#f09>CONNECTING TO: &nbsp; "' +
            chan +
            '"</span>';

        p.attr( connect_btn, 'disabled', 'disabled' );
        p.$('send-message').removeAttribute('disabled');
        p.$('send-message-unsub').removeAttribute('disabled');

        net = p.init({
            publish_key   : p.$('pub-key').value,
            subscribe_key : p.$('sub-key').value,
            origin        : p.$('origin').value
        });

        net.subscribe({
            connect  : function() {
                subscription.innerHTML =
                    '<span style=color:green>CONNECTED TO:  &nbsp; "' +
                    chan +
                    '"</span>';

                log(['CONNECTED TO:', chan], '#f09');
            },
            channel  : chan,
            callback : function(msg) {
                log( msg, '#fa0' );
            }
        });
    }
    p.bind( 'click', connect_btn, connect_now );

    function unsub() {
        connect_btn.removeAttribute('disabled');
        p.attr( p.$('send-message'), 'disabled', 'disabled' );
        p.attr( p.$('send-message-unsub'), 'disabled', 'disabled' );
        subscription.innerHTML =
            '<span style=color:#f00>NOT CONNECTED</span>';
        net.unsubscribe({channel : channel.value});
    }
    function sendmsg() {
        log( ['PUBLISHING:', channel.value], 'green' );
        net.publish({
            channel  : channel.value,
            message  : JSON.parse(message.value),
            callback : function(info) {
                log(["PUBLISHED:", info]);
            }
        });
    }

    p.bind( 'click', p.$('send-message-unsub'), unsub );
    p.bind( 'click', p.$('send-message'), sendmsg );

    // ----------------------------------------------------------------------
    // Easy Copy Paste
    // ----------------------------------------------------------------------
    p.bind( 'click', out, function() {
        paused = true;
        var out_copy = p.create('textarea');

        p.bind( 'blur', out_copy, function() {
            try { out.removeChild(out_copy); } catch(e) {}
            paused = false;
        } );

        p.attr( out_copy, 'class', 'out-copy' );

        out.insertBefore( out_copy, out.firstChild );

        setTimeout( function() {
            out_copy.value = out.innerHTML
                             .replace( /<br>/g, '\n' )
                             .replace( /<[^>]+?>/g, '' );
            out_copy.focus();
            out_copy.select();
        }, 10 );

    } );

    // ----------------------------------------------------------------------
    // Load URL Params
    // ----------------------------------------------------------------------
    (function(){
        var hchannel = (location.href.match(/channel=([\w\-]+)/)||[''])
                       .slice(-1)[0]
        ,   horigin  = (location.href.match(/origin=([\w\-\.]+)/)||[''])
                       .slice(-1)[0]
        ,   hsubkey  = (location.href.match(/sub=([\w\-]+)/)||[''])
                       .slice(-1)[0]
        ,   hpubkey  = (location.href.match(/pub=([\w\-]+)/)||[''])
                       .slice(-1)[0];

        if (hchannel) p.$('channel').value = hchannel;
        if (hsubkey)  p.$('sub-key').value = hsubkey;
        if (hpubkey)  p.$('pub-key').value = hpubkey;
        if (horigin)  p.$('origin').value  = horigin;

        if (hchannel) connect_now();

    })();
})();


})();</script>
</div>
